/*css style for full page*/

html{
  line-height: 1.2;
  color: #000000;
  background-color: #242654;
}

/*css style for title and headers*/
h1, h2{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 100px;
  text-align: center;
}

h2{
  font-size: 50px;
}

/*container for Mood button and image*/
.container {
  position: relative;
  width: auto;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
  background-position: 0px 20000px 0px 10px
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: Transparent;
  color: aqua;
  font-size: 30px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
/*hover effect for button within the image*/
.container .btn:hover {
  background-color: black;
}
